// Colors
$main-blue: #0972CE;
$header-gray: #f1f1f1;




// Global Styles
.Button {
    button {
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        border: none;
        padding: 0 20px !important;
        border-radius: 25px !important;
    }
}

.hover:hover {
    opacity: 0.5;
}





