@import "./global";


.Header {
    height: 70px;
    padding: 0 30px;
    background: $header-gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        float: left;
        display: block;
        margin-left: -28px;
        height: auto;
        padding-left: 20px;
    }

    .right {
        display: flex;
        align-items: center;

        a {
            margin: 0 5px;
            text-decoration: none;
            color: $main-blue;
            font-family: 'Comfortaa', cursive;
            font-weight: bold;
        }
        
        a:hover{
            color: $lightBlue;
            text-decoration: underline;
        }
    }
}
