@import "./global";


.Header {
    height: 70px;
    padding: 0 40px;
    background: $light-gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        float: left;
        display: block;
        margin-left: -28px;
        height: auto;
        padding-left: 20px;
    }

    .right {
        display: flex;
        align-items: center;

        a,
        .dropdown-title {
            margin: 0 5px;
            text-decoration: none;
            color: $main-blue;
            font-family: 'Comfortaa', cursive;
            font-weight: bold;
        }

        a:hover {
            color: $lightBlue;
            text-decoration: underline;
        }

    }
}

:where(.css-dev-only-do-not-override-1km3mtt).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    height: 50px;
    font-family: 'Comfortaa', cursive;
    color: $main-blue;
    font-size: 16px;

    :hover {
        text-decoration: underline;
    }
}