@import "./global";

.Home {
    .OurFocus {
        // width: 800px;
        margin: 15px 0;
        padding: 30px 30px;
        display: flex;
        justify-content: center;

        .wrap {
            width: 100%;
            border-radius: 25px;
            position: relative;

            display: flex;
            justify-content: space-between;

            .left {
                width: 50%;
                display: flex;
                align-items: center;
                box-sizing: content-box;
                position: relative;

                img {
                    width: 100%;
                    height: 620px;
                    border-radius: 0.5rem;

                    position: absolute;
                    top: 0;
                }
            }

            .right {
                width: 50%;
                padding: 20px 20px;

                display: flex;
                flex-direction: column;
                // align-items: center;

                h1 {
                    font-size: 2.3rem;
                    text-transform: capitalize;
                    // font-family: 'Manrope', sans-serif;
                    font-family: 'Comfortaa', cursive;

                    font-weight: bold;
                }

                h1:nth-child(2) {
                    font-size: 24px;
                    color: $main-blue;
                    margin-top: 10px;
                    font-family: 'Manrope', sans-serif;
                    margin-bottom: 0px;

                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                }

                ul {
                    width: 90%;
                    margin-top: 0px;
                    padding: 0;
                    box-sizing: border-box;
                    padding-right: 20px;
                    list-style: none;

                    li {
                        margin: 10px 0;
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        color: #33354d;
                    }
                }

                .right-bottom {
                    width: 100%;
                    color: $main-blue;

                    h1 {
                        font-size: 1.3rem;
                        font-family: 'Manrope', sans-serif;
                        margin-right: 20px;
                        margin-top: 5px;

                        font-style: normal;
                        font-weight: 400;
                        line-height: 36px;
                    }
                }
            }
        }

    }

    .OurMission {
        background: $header-gray;
        height: 600px;

        margin: 15px 0;
        padding: 100px 30px;
        display: flex;
        justify-content: center;

        .wrap {
            width: 100%;
            border-radius: 25px;
            position: relative;
            padding-top: 30px;

            display: flex;
            justify-content: space-between;

            .left {
                width: 50%;
                display: flex;
                align-items: center;
                box-sizing: content-box;
                position: relative;

                img {
                    // width: 100%;
                    height: 300px;
                    border-radius: 0.5rem;

                    position: absolute;
                    top: 0;
                }
            }

            .right {
                width: 50%;
                padding: 20px 20px;

                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 2.3rem;
                    text-align: center;
                    text-transform: capitalize;
                    font-family: 'Comfortaa', cursive;

                    font-weight: bold;
                }

                h1:nth-child(2) {
                    font-size: 24px;
                    color: $main-blue;
                    margin-top: 10px;
                    font-family: 'Manrope', sans-serif;
                    margin-bottom: 0px;

                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                }


                span {
                    font-family: 'Manrope', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    // color: #33354d;
                    padding: 0 20px;

                }


                .right-bottom {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: #fff !important;

                }
            }
        }
    }

    .Newsletters {
        // width: 800px;
        margin: 15px 0;
        padding: 30px 30px;
        display: flex;
        justify-content: center;

        .wrap {
            width: 100%;
            border-radius: 25px;
            position: relative;

            display: flex;
            justify-content: space-between;

            .left {
                box-sizing: content-box;
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;

                form {
                    background: #3970c82f;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px 20px;
                    border-radius: 10px;
                    margin-bottom: 20px;

                    label {
                        padding-left: 5px;
                    }

                    .inputs {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;

                        .ant-select-selector {
                            height: 40px !important;
                            border-radius: 15px;
                            margin-bottom: 10px;


                        }

                        input {
                            width: 320px;
                            height: 40px;
                            padding: 0 10px;
                            border: none;
                            margin-bottom: 10px;

                            // background: #EAEAEA;
                            border-radius: 15px;
                        }
                    }
                }
            }

            .right {
                width: 50%;
                padding: 20px 20px;

                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 2.3rem;
                    text-transform: capitalize;
                    font-family: 'Comfortaa', cursive;
                    font-weight: bold;
                }

                h1:nth-child(2) {
                    font-size: 24px;
                    color: $main-blue;
                    margin-top: 10px;
                    font-family: 'Manrope', sans-serif;
                    margin-bottom: 0px;

                    font-style: normal;
                    font-weight: 400;
                    line-height: 36px;
                }

                ul {
                    width: 90%;
                    margin-top: 0px;
                    padding: 0;
                    box-sizing: border-box;
                    padding-right: 20px;
                    list-style: none;

                    li {
                        margin: 10px 0;
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        color: #33354d;
                    }
                }

                .right-bottom {
                    width: 100%;
                    color: $main-blue;

                    h1 {
                        font-size: 1.3rem;
                        font-family: 'Manrope', sans-serif;
                        margin-right: 20px;
                        margin-top: 5px;

                        font-style: normal;
                        font-weight: 400;
                        line-height: 36px;
                    }
                }
            }
        }

    }


    .LandingPage {
        position: relative;

        img {
            width: 100%;
            height: calc(100vh - 70px);
        }

        .info {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-family: 'Comfortaa', cursive;
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 78px;
                color: #fff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                text-shadow:
                    -1px -1px 0 #0972CE,
                    1px -1px 0 #0972CE,
                    -1px 1px 0 #0972CE,
                    1px 1px 0 #0972CE;
            }

            .buttons {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}