.Header {
  width: 250px;
  height: 100vh;
  border-right: 1px solid rgba(224, 224, 224, 0.556);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo-section {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    img {
      width: 50px;
      height: 50px;
    }
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .menu-section-right {
    width: 250px;
	padding: 0 20px;
	height: 70px;
    display: flex;
    align-items: center;
	justify-content: space-between;

    span {
      font-weight: bold;
    }

    .logout {
      margin: 0 10px;
      font-size: 16px;
      padding: 10px;
      border-radius: 100px;
      font-weight: 600;
      background: rgb(222, 222, 222);
    }
  }
}
